---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Tu plataforma de gestión, personalizable.</h1>
			<p>
				Bienvenidx a la web oficial de Axia4. Con este programa puedes construir aplicaciónes internas
				para la gestión de tu asociación, negocio, empresa, o tu propia casa (Si, es posible).
			</p>
			<p>
				Axia4 está desarrollado para que no tengas que escribir ninguna linea de codigo para crear tu interfaz.
				(Aunque tambien hay la posibilidad de crear funciones personalicadas con Javascript o pgSQL.)
			</p>
			<p>Aquí tienes una lista de posibles usos de esta aplicación:</p>
			<ul>
				<li>Administrar varias ubicaciones de un centro educativo hibrido, incluyendo sus Materiales y Actividades</li>
				<li>Gestionar documentos y organizarlos por etiquetas</li>
				<li>Vincular con Google o con LDAP para usar tus cuentas existentes.</li>
				<li>Gestionar gastos y generar informes PDF.</li>
				<li>Utilizar aplicaciones pre-creadas a través del Repositorio Ax4</li>
			</ul>
			<p>
				Pero lo mas importante... Axia4 es de codigo abierto!! - Puedes modificarlo, añadir traducciones, y mucho mas.
			</p>
			<p>
				Buscando funciones mas avanzadas / soporte tecnico? Compra una licencia <b>Ax4 Profesional</b>.
			</p>
		</main>
		<Footer />
	</body>
</html>
